/* @import './apps/book/bookStyle.css'; */
@import './apps/keep/keepStyle.css';
@import './apps/mail/mailStyle.css';

/* colores: #FBE8A6, #F4976C, #3030C6C , #B4DFE5 ,#D2FDFF */
body {
    background-color: #B4DFE5;
}

.notes-gallery {
    display: flex;
    flex-wrap: wrap;
}

.note-preview-container {
    background-color: darkseagreen;
    height: fit-content;
    width: fit-content;
    display: inline-block;
    margin: 30px;
}


/* 
.note {
    background-color: darkseagreen;
    height: fit-content;
    width: fit-content;
    display: inline-block;
    margin: 30px;
} */

.note img {
    height: 150px;
    /* object-fit: */
}

li {
    list-style: none;
}

.bold {
    font-weight: bold;
    font-size: 1.2rem;
}