.mail-app {
    background-color: white;
    height: 90vh;
}

.mail-app {
    display: flex;
    flex-direction: row;
}

.mail-nav {
    display: flex;
    flex-direction: column;
}

.mail-nav .nav{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 50%;
}

.loading-bar{
    position: relative;
    width: 400px;
    height: 30px;
    border-radius: 15px;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    box-shadow: inset 0 1px 2px rgba(#000, 0.4), 
                        0 -1px 1px #fff, 0 1px 0 #fff;
                

}

.percentage {
    position:absolute;
    top: 1px; left: 1px; right: 1px;
    display: block;
    height: 100%;
    border-radius: 15px;
    background-color: #a5df41;
    background-size: 30px 30px;
    background-image: linear-gradient(135deg,rgba(#fff, 0.4, 0.15)25%, transparent 25%,
                            transparent 50%, rgba(#fff, 0.15) 50%,
                            (#fff, 0.15) 75%, transparent 75%, transparent);
    animation: animate-stripes 3s linear infinite;
} 

.container{
    text-align: right ;
    font-size: 3rem;
    color: #555;
}

@keyframes animate-stripes{
    0% {background-position: 0 0 ;}
    100% {background-position:60px 0;}
}

.mail-list{
    height: 100%;
    width: 100%;
}

.mail-add{
    position: absolute;
    left: 25%;
    bottom: 25%;
    background-color: gray;
    height: 20rem;
    width: 20rem;
}
.mail-preview-container {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mail-bigger-prev {
    border: 1px solid black;
}

.mail-bigger-prev h3,
h5 {
    display: inline-block;
}

.mail-bigger-prev h5 {
    color: gray;
}

.mail-preview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

.mail-bigger-prev {
    position: relative;
    top: 100;
}

.actions {
    display: flex;
    flex-direction: row;
}



.bold {
    font-weight: bold;
    font-size: 1.2rem;
}