/* /צהוב  #FBE8A6,
כתום #F4976C, notes
 #303C6C כחול,
  #B4DFE5 תכלת כהה, bgc
  #D2FDFF תכלת בהיר */

.note-app {
    background-color: #B4DFE5;
}

.notes-bar {
    background-color: #303C6C;
    color: #D2FDFF;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
}

.notes-filter-label {
    margin-inline-start: 20px;
}

.note img {
    height: 150px;
    margin: 20px;
}

li {
    list-style: none;
    padding-inline-start: none;
    margin: none;
}

ul {
    list-style: none;
    padding-inline-start: none;
    margin: none;
}


/* my  gallery settings */

.notes-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    margin: 10px;
    padding: 10px;
}

.note-preview-container {
    height: fit-content;
    width: fit-content;
    display: inline-block;
    border-radius: 20px;
}

.note {
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.dynamic-note {
    border-radius: 20px;
}

.note-pin {
    align-self: flex-start;
    color: rgb(0, 0, 0);
}

.note-btn {
    background-color: inherit;
    border: none;
    border-radius: 5px;
    margin: 5px
}

.note-btn:hover {
    cursor: pointer;
}

.note-color {
    border: 1px solid rgb(172, 155, 155);
    padding: 0;
    margin: 0;
}

.dynamic-note {
    background-color: inherit;
}

.text-note {
    background-color: inherit;
    border: none;
    margin: 20px;
    font-size: 1.2rem;
}

.overLine {
    text-decoration: overline;
}

.file-input {
    color: transparent;
}

.hide {
    display: none;
}